@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
@import url("https://fonts.googleapis.com/css2?family=Avenir:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #333;
  font-family: "Euclid Circular A", "Avenir Next", Roboto, -apple-system,
    BlinkMacSystemFont, "Helvetica Neue", helvetica, "Segoe UI", arial,
    "PingFang SC", "Miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  line-height: 1.2857142;
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, 0.03); */
  /* font-family: 'Work Sans'; */
}

.red {
  background-color: red !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
